Flask==3.0.3
Flask-Cors==4.0.1
mediapipe==0.10.14
opencv-python==4.10.0.84
numpy==1.26.4
pandas==2.2.2
matplotlib==3.8.4
tensorflow==2.16.1
protobuf==4.25.3
requests==2.32.3
python-dotenv==1.0.1
twilio==9.3.0
